.page{
    /* /* position: fixed; */
    width: 100%;
    height: 100%; 
   
    background-color: #f5f5f5 ;
}
.blurb{
    opacity: 0;
    width: 900px;
    font-family: Neu Montreal;
    font-size: 40px;
    font-weight: 200;
    text-rendering: optimizeLegibility;
    padding-right: 50px ;
    color: #353535;
   
    /* text-align: right; */
    /* text-align: justify; */
}
.blurbDiv{
    padding-top: 20px;
    display:flex;
    justify-content: center;
    padding-bottom: 100px;
}

.title{
    opacity: 0;
    padding-top: 300px;
    font-family: Hatton Medium;
    font-size: 150px;
    font-weight: 0;
    text-rendering: optimizeLegibility;
    text-align: center;
    color: #22211f;
}

.projectTitle{
    font-family: Hatton Medium;
    font-size: 100px;
    font-weight: 0;
    text-rendering: optimizeLegibility;
    text-align: center;
    color: #22211f;
}
.projectTitle:hover {
    background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 3s ease-in-out infinite;
    background-size: 400% 100%;
}

@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}

.projectDiv{
    padding-top: 50px;
}

.discoImage{
    width: 500px;
    height: 200px;
    position: absolute;
    overflow: hidden;
}
.discoLink{
    color: #353535;
}
.imageContainer{
    width: 600px;
    height: 256px;
    overflow: hidden;
}

.imageShield{
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1;
    overflow: hidden;
    top: 0px;
    left: 0px;
    position: relative;
    content: '';
}
.infoContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.info{
    width: 600px;
    font-family: Neu Montreal;
    font-size: 25px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    color: #353535
}

.miniTitle{
    padding-left: 30px;
    font-family: Neu Montreal;
    font-size: 25px;
    font-weight: 700;
    text-rendering: optimizeLegibility;
    color: #22211f;
}

.line{
    border: 3px solid #22211f; width: 300px;  margin-right: 76px;
    }

.whatever{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 50px;
}
.emailContainer{
    padding-top: 100px;
    right: 600px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.hitMeUp{
    color: #22211f;
    font-family: Hatton Medium;
    font-size: 75px;
    font-weight: 0;
    text-rendering: optimizeLegibility;
    padding-right: 76PX;
}
.email{
    color: #353535;
    font-family: Hatton Medium;
    font-size: 40px;
    font-weight: 0;
    text-rendering: optimizeLegibility;
    padding-right: 76PX;
}

.linkedIn{
    color: #353535;
    font-family: Hatton Medium;
    font-size: 40px;
    font-weight: 0;
    text-rendering: optimizeLegibility;
    padding-right: 76PX;
}

.blog{
    color: #353535;
    font-family: Hatton Medium;
    font-size: 40px;
    font-weight: 0;
    text-rendering: optimizeLegibility;
    padding-right: 76PX;
}
